<div class="back-bg">
    <div class="container">
        <div class="header">
            <div class="head_left">
                <a routerLink="menu">
                    <img src="../../assets/Foodito.svg" alt="foodito">
                </a>
                <div class="head_right">
                    <div class="cart">
                        <a routerLink="cart">
                            <img src="../../assets/Icon map-food.svg" alt="cart"> &nbsp; &nbsp;
                        </a>

                        <img src="../../assets/Icon ionic-ios-settings.svg" alt="setting">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>