<div class="back-bg">
    <div class="container">
        <div class="header">
            <div class="head_left">
                <a routerLink="menu">
                    <img src="../../assets/Foodito.png" alt="foodito">
                </a>

                <div class="head_right">
                    <div class="cart">

                        <img src="../../assets/Icon map-food.svg" routerLink="cart" alt="cart" style="outline: none;"> &nbsp; &nbsp;
                        <span class="badge" *ngIf="badgeCount > 0" routerLink="cart">{{badgeCount}}</span>

                        <h4>{{tableNo}}</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>