<section>
    <div class="container">

        <div class="contact-container">
            <h2 id="close-icon" (click)="close()">X</h2>
        </div>
        <div class="text">
            <h2>Want to Call Waiter ?</h2>
        </div>
        <div class="btns">
            <div class="yes" (click)="call()" id="yes-button">
                <h2>Yes</h2>
            </div>
            <div class="no" id="no-button" (click)="close()">
                <h2>No</h2>
            </div>
        </div>
        <img src="../../assets/WAITER.svg" alt="">
    </div>

</section>