.Sproduct {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 138px;
    border: 1px black;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    left: -10px;
}

.food-name h2 {
    font-size: 27px;
    margin-bottom: 0;
    color: #1B2845;
    margin-bottom: 6px;
}

.food-name h3 {
    font-size: 21px;
    margin-bottom: 0;
    color: #1B2845;
    margin-bottom: 10px;
}

.food-name {
    display: flex;
    justify-content: space-between;
}

.food-photo img {
    border-radius: 10px;
    height: 100%;
    width: 65%;
    margin-right: 10px;
}

.info p {
    padding-top: 12px;
    color: #1B2845;
    font-size: 11px;
    margin-bottom: 0;
}

.Ingredients h4 {
    color: #1B2845;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 13px;
}

.custom01 input[type="checkbox"] {
    display: none;
}

.custom01 label {
    position: relative;
    display: inline-block;
    padding: 8px 0px 8px 40px;
    cursor: pointer;
}

.custom01 label::before,
.custom01 label::after {
    position: absolute;
    content: '';
    top: 50%;
    /* border-radius: 100%; */
    -webkit-transition: all .2s;
    transition: all .2s;
}

.custom01 label::before {
    left: 0;
    width: 25px;
    height: 25px;
    margin-top: -8px;
    background: #fff;
    border: 1px solid #1B2845;
    border-radius: 6px;
}

.custom01 label:hover::before {
    background: #fff;
}

.custom01 label::after {
    opacity: 0;
    left: 2px;
    top: 11px;
    width: 23px;
    height: 23px;
    background: #1B2845;
    border-radius: 6px;
    -webkit-transform: scale(2);
    transform: scale(2);
}

.custom01 input[type="checkbox"]:checked+label::before {
    background: #fff;
    border: 3px solid #1B2845;
}

.custom01 input[type="checkbox"]:checked+label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.extraingredients input[type="checkbox"] {
    display: none;
}

.extraingredients label {
    position: relative;
    display: inline-block;
    padding: 8px 0px 8px 40px;
    cursor: pointer;
}

.extraingredients label::before,
.extraingredients label::after {
    position: absolute;
    content: '';
    top: 50%;
    /* border-radius: 100%; */
    -webkit-transition: all .2s;
    transition: all .2s;
}

.extraingredients label::before {
    left: 0;
    width: 25px;
    height: 25px;
    margin-top: -8px;
    background: #fff;
    border: 1px solid #1B2845;
    border-radius: 6px;
}

.extraingredients label:hover::before {
    background: #fff;
}

.extraingredients label::after {
    opacity: 0;
    left: 2px;
    top: 21px;
    width: 23px;
    height: 23px;
    background: #1B2845;
    border-radius: 6px;
    -webkit-transform: scale(2);
    transform: scale(2);
}

.extraingredients input[type="checkbox"]:checked+label::before {
    background: #fff;
    border: 3px solid #1B2845;
}

.extraingredients input[type="checkbox"]:checked+label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.search_icon {
    position: relative;
    right: -13px;
    bottom: -28px;
    width: 30px;
}

.search-input {
    height: auto;
    font-size: 13px;
    width: 60%;
    padding: 5px;
    border: 1px solid #F5F5FF;
    padding-left: 30px;
    border-radius: 50px;
    background: #f5f5f5;
    display: flex;
    box-shadow: 0 1px 3px #DDDDDD, 2px 2px 4px #DDDDDD, 1px 2px 1px #ffffff, -5px -5px 4px #ffffff;
}

.add {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.ADD {
    position: relative;
    bottom: 28px;
    text-align: center;
    border: 1px solid #707070;
    height: 59px;
    width: auto;
    border-radius: 10px;
    background-color: #1B2845;
    margin-top: 20px;
}