<div class="section">
    <div class="container">
        <div class="food-detail" *ngFor="let f of food">
            <div class="food-name">
                <div>
                    <h2>{{f.foodName}}</h2>
                    <h3> ₹ {{f.price}}</h3>
                </div>
                <div class="food-ingri">
                    <img src="../../assets/food-ing.svg" alt="">
                </div>
            </div>
            <div class="food-photo Sproduct">
                <img src="{{f.imageUrl}}" alt="">
                <img src="../../assets/food2.png" alt="">
                <img src="../../assets/food3.png" alt="">
            </div>
            <div class="info">
                <p>{{f.description}}</p>

                <p>
                    Myers adds that asking the kitchen to leave specific ingredients off your plate is usually okay (especially when it comes to garnishes). It’s substitutions that potentially cause problems. It’s substitutions that potentially cause problems. It’s substitutions
                    that potentially cause problems. It’s substitutions that potentially cause problems. It’s substitutions that potentially cause problems. It’s substitutions that potentially cause problems.
                </p>
            </div>
            <div class="Ingredients">
                <h4>Ingredients</h4>

                <div class="row">
                    <div class="col-sm-3" style="width: 50%;">
                        <div class="custom01" *ngFor="let i of ingridient | slice:0:3">
                            <div>
                                <input type="checkbox" id="{{i}}" value={{i}} name="demo01" (click)="ingridients(i)" /><label for="{{i}}">{{i}}</label>
                            </div>
                            <!-- <div>
                                <input type="checkbox" id="radio03-02" name="demo01" /><label for="radio03-02">Ingredient 1</label>
                            </div>
                            <div>
                                <input type="checkbox" id="radio03-03" name="demo01" /><label for="radio03-03">Ingredient 1</label>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-sm-3" style="width: 50%;">
                        <div class="custom01" *ngFor="let i of ingridient | slice:3:6">
                            <div>
                                <input type="checkbox" id="{{i}}" value={{i}} name="demo01" /><label for="{{i}}">{{i}}</label>
                            </div>
                            <!-- <div>
                                <input type="checkbox" id="radio03-05" name="demo01" /><label for="radio03-05">Ingredient 1</label>
                            </div>
                            <div>
                                <input type="checkbox" id="radio03-06" name="demo01" /><label for="radio03-06">Ingredient 1</label>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="search">
                    <div class="search_icon">
                        <img src="../../assets/Icon feather-search.svg" alt="searchbar">
                    </div>
                    <form class="example-form">
                        <input type="text" class="search-input" placeholder="Search" aria-label="Number" matInput [formControl]="myControl">
                        <mat-autocomplete>
                            <!-- <mat-option *ngFor="let option of options" [value]="option">
                                {{option}}
                            </mat-option> -->
                        </mat-autocomplete>
                    </form>
                </div>

                <div class="ADD">
                    <div class="add">
                        <span (click)="Add_Item(f)"> Add</span>
                    </div>
                </div>
            </div>
        </div>
    </div>