<div class="section">
    <div class="container">
        <div class="food-detail" *ngFor="let f of food">
            <div class="food-name">
                <div>
                    <h2>{{f.foodName}}</h2>
                    <h3> ₹ {{f.price}}</h3>
                </div>
                <div class="food-ingri">
                    <img src="../../assets/food-ing.svg" alt="">
                </div>
            </div>
            <div class="food-photo Sproduct">
                <img src="{{f.imageUrl}}" alt="">
                <img src="{{f.imageUrl[1]}}" alt="">
                <img src="{{f.imageUrl[2]}}" alt="">
            </div>
            <div class="info">
                <p>{{f.description}}</p>

                <p>
                    {{f.moreInfo}} </p>
            </div>
            <div class="Ingredients">
                <h4>Ingredients</h4>

                <div class="row">
                    <div class="col-sm-3" style="width: 50%;">
                        <div class="custom01" *ngFor="let i of ingridient | slice:0:3">
                            <div>
                                <input type="checkbox" id="{{i}}" value={{i}} name="demo01" (click)="ingridients(i)" checked/><label for="{{i}}">{{i}}</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3" style="width: 50%;">
                        <div class="custom01" *ngFor="let i of ingridient | slice:3:6">
                            <div>
                                <input type="checkbox" id="{{i}}" value={{i}} name="demo02" (click)="ingridients(i)" checked/><label for="{{i}}">{{i}}</label>
                            </div>

                        </div>
                    </div>
                </div>




                <hr>

                <div class="Ingredients">
                    <h4>Extra Ingredients</h4>

                    <div class="row">
                        <div class="col-sm-3" style="width: 50%;">
                            <div class="custom01" *ngFor="let i of optingridient | slice:0:3">
                                <div>
                                    <input type="checkbox" id="{{i.ingredient}}" value={{i.ingredient}} name="demo01" (click)="ingridients(i.ingredient)" /><label for="{{i.ingredient}}">{{i.ingredient}}-  ₹ {{i.price}}</label>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3" style="width: 50%;">
                            <div class="custom01" *ngFor="let i of optingridient | slice:3:6">
                                <div>
                                    <input type="checkbox" id="{{i.ingredient}}" value={{i.ingredient}} name="demo02" (click)="ingridients(i.ingredient)" /><label for="{{i.ingredient}}">{{i.ingredient}}-  ₹ {{i.price}}  </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="search">
                    <div class="search_icon">
                        <img src="../../assets/Icon feather-search.svg" alt="searchbar">
                    </div>
                    <form class="example-form">
                        <input type="text" class="search-input" placeholder="Search" aria-label="Number" matInput [formControl]="myControl">
                        <mat-autocomplete>
                            <!-- <mat-option *ngFor="let option of options" [value]="option">
                                {{option}}
                            </mat-option> -->
                        </mat-autocomplete>
                    </form>
                </div>


                <div class="ADD">
                    <div class="add">
                        <span (click)="Add_Item(f)"> Add</span>
                    </div>
                </div>
            </div>
        </div>
    </div>