<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="section">
    <div class="container">

        <div class="bar">
            <div class="searchbar">
                <div class="search">
                    <div class="search_icon">
                        <img src="../../assets/Icon feather-search.svg" alt="searchbar">
                    </div>
                    <form class="example-form">
                        <input type="text" class="search-input" placeholder="Search" aria-label="Number" matInput [formControl]="myControl">
                        <mat-autocomplete>
                            <!-- <mat-option *ngFor="let option of options" [value]="option">
                                {{option}}
                            </mat-option> -->
                        </mat-autocomplete>
                    </form>
                </div>

                <div class="filterbar">
                    <div class="custom01" style="margin-right: 15px;">
                        <input type="radio" id="radio03-01" name="demo01" (click)="Veg()" /><label for="radio03-01"></label>
                    </div>
                    <div class="custom02">
                        <input type="radio" id="radio03-02" name="demo01" (click)="NonVeg()" /><label for="radio03-02"></label>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="specail">
            <h4> <b>Our Speciality</b></h4>
            <div class="Sproduct">

                <div class="product set" *ngFor="let m of detail">
                    <div class="back-sho">
                        <div class="productimg">
                            <img src="{{m.imageUrl}}" (click)="item(m)" alt="">
                        </div>
                        <div class="pro-detail">

                            <h3 (click)="item(m)">{{m.foodName}}</h3>

                            <h4>{{m.description}}</h4>
                            <h5> ₹ {{m.price}} </h5>

                        </div>
                        <div class=" Specail_add ">
                            <div class="add ">
                                <button (click)="Add_Item(m) ">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="cate ">
            <div class="cat_slide">
                <div class="cate_icon ">

                    <div class="cate_icon_title " *ngFor="let c of cate ">

                        <img id="myDIV" [ngClass]="{'green' : toggle, 'red': !toggle}" class="cat_slide_img" src="{{c.imgUrl}}" (click)="category(c)" alt=" ">

                        <h2>{{c.categoryName}}</h2>

                    </div>


                </div>




            </div>

        </div>

        <div class="productlist ">

            <div class="product " *ngFor="let m of menu ">
                <div class="productimg ">
                    <img src="{{m.imageUrl}} " (click)="item(m)" alt=" ">
                </div>
                <div class="pro-detail ">
                    <h3 (click)="item(m)">{{m.foodName}}</h3>
                    <h4>{{m.description}}</h4>
                    <h5><b>  ₹ {{m.price}}</b></h5>
                </div>
                <!-- <div class="ADD " id="qty2" style="visibility: hidden;">

                    <div class="add ">
                        <h3>Add</h3>
                    </div>

                </div> -->

                <div class="ADD">

                    <div class="add ">
                        <button (click)="Add_Item(m) ">Add</button>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>