<div class="section">
    <div class="container">
        <div class="bar">
            <div class="searchbar">
                <div class="search">
                    <img src="../../assets/Icon feather-search.svg" alt=""> &nbsp;
                    <p>Search</p>
                </div>
            </div>


            <div class="filterbar">
                <div class="filter">
                    <img src="../../assets/Icon feather-filter.svg" alt=""> &nbsp;
                    <p>Filter</p>
                </div>
            </div>
        </div>

        <br>
        <div class="specail">
            <h4> <b>Our Speciality</b></h4>
            <div class="product">
                <div class="productimg">
                    <img src="../../assets/Group 25.svg" alt="">
                </div>
                <div class="pro-detail">
                    <h3><b>Food</b></h3>
                    <h4>Info</h4>
                    <h3><b>238</b> Rs</h3>
                </div>
                <div class="Specail_add">

                    <div class="add">
                        <a><b>Add</b></a>
                    </div>

                </div>
            </div>
        </div>


        <div class="cate">
            <div class="cate_icon">
                <img src="../../assets/User.svg" alt="">
                <img src="../../assets/User.svg" alt="">
                <img src="../../assets/User.svg" alt="">
                <img src="../../assets/User.svg" alt="">
            </div>
            <!-- <div class="cate_text">
                <h4>Grain</h4>
                <h4>ice cream</h4>
                <h4>Meat</h4>
            </div> -->

        </div>
        <div class="productlist">
            <div class="product">
                <div class="productimg">
                    <img src="../../assets/Group 25.svg" alt="">
                </div>
                <div class="pro-detail">
                    <h3><b>Salad</b></h3>
                    <h4>Info</h4>
                    <h3><b>238</b> Rs</h3>
                </div>
                <div class="ADD">

                    <div class="add">
                        <a><b>Add</b></a>
                    </div>

                </div>
            </div>


            <div class="product">
                <div class="productimg">
                    <img src="../../assets/Group 25.svg" alt="">
                </div>
                <div class="pro-detail">
                    <h3><b>Sandwich</b></h3>
                    <h4>Info</h4>
                    <h3><b>238</b> Rs</h3>
                </div>
                <div class="ADD">
                    <div class="add">
                        <a><b>Add</b></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="productimg">
                    <img src="../../assets/Group 25.svg" alt="">
                </div>
                <div class="pro-detail">
                    <h3><b>Bread</b></h3>
                    <h4>Info</h4>
                    <h3><b>238</b> Rs</h3>
                </div>
                <div class="ADD">
                    <div class="add">
                        <a><b>Add</b></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="productimg">
                    <img src="../../assets/Group 25.svg" alt="">
                </div>
                <div class="pro-detail">
                    <h3><b>Steak</b></h3>
                    <h4>Info</h4>
                    <h3><b>238</b> Rs</h3>
                </div>
                <div class="ADD">
                    <div class="add">
                        <a><b>Add</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>