.bar {
    margin-bottom: 2px;
    background-color: #F5F5F5;
}

.searchbar {
    float: left;
    border: 1px solid #707070;
    height: 49px;
    width: 220px;
    border-radius: 50px;
    padding: 11px;
}

.filterbar {
    float: right;
    border: 1px solid #707070;
    height: 49px;
    width: 118px;
    border-radius: 50px;
    padding: 11px;
}

.filter {
    display: -webkit-box;
}

.search {
    display: -webkit-box;
}

.cate {
    background-image: url("../../assets/Group 99.svg");
}

.cate_icon {
    padding: 12px;
}

.cate_text h4 {
    font-size: 12px;
}

.specail h4 {
    font-size: 13px;
    color: #1B2845;
    padding-top: 40px;
    padding-left: 20px;
}

.product {
    border: 1px #707070;
    height: auto;
    width: auto;
    background-image: url("../../assets/Button.svg");
    border-radius: 10px;
    margin: 5px;
}

.productimg {
    height: 93px;
    width: 109px;
}

.pro-detail {
    text-align: left;
    margin-top: -70px;
    margin-left: 140px;
}

.pro-detail h4 {
    font-size: 13px;
    color: #1B2845;
    padding-top: 1px;
    padding-left: 0px;
}

.pro-detail h3 {
    color: #1B2845;
    padding-top: 1px;
    font-size: 17px;
    /* font-weight: bold */
    ;
}

.add {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Specail_add {
    position: relative;
    text-align: center;
    margin-left: 265px;
    margin-top: -94px;
    border: 1px solid #707070;
    height: 93px;
    width: 74px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #FF7D55, #F4197E);
}

.ADD {
    position: relative;
    text-align: center;
    margin-left: 265px;
    margin-top: -94px;
    border: 1px solid #707070;
    height: 93px;
    width: 74px;
    border-radius: 10px;
    background-color: #1B2845;
}