<div class="section">
    <div class="container">

        <div class="bar">
            <div class="searchbar">
                <div class="search_icon">
                    <img src="../../assets/Icon feather-search.svg" alt="searchbar">
                </div>
                <form class="example-form">
                    <input type="text" class="search-input" placeholder="Search" aria-label="Number" matInput [formControl]="myControl">
                    <mat-autocomplete>
                        <mat-option *ngFor="let option of options" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </form>

                <div class="filterbar">
                    <div class="filter">
                        <input type="checkbox">
                        <input type="checkbox">
                    </div>
                </div>

            </div>




        </div>

        <br>

        <div class="specail">
            <h4> <b>Our Speciality</b></h4>
            <div class="Sproduct">

                <div class="product set" *ngFor="let m of detail">
                    <div>
                        <div class="productimg">
                            <img src="{{m.imageUrl}}" alt="">
                        </div>
                        <div class="pro-detail">

                            <h3><b>{{m.foodName}}</b></h3>
                            <h4>{{m.description}}</h4>
                            <h3><b>{{m.price}}</b> ₹</h3>

                        </div>
                        <div class="Specail_add">

                            <div class="add">
                                <h3 (click)="Add_Item($m.foodId)">Add</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="cate">
            <div class="cate_icon">
                <img src="../../assets/User.svg" alt="">
                <img src="../../assets/User.svg" alt="">
                <img src="../../assets/User.svg" alt="">
                <img src="../../assets/User.svg" alt="">
            </div>
            <!-- <div class="cate_text">
                <h4>Grain</h4>
                <h4>ice cream</h4>
                <h4>Meat</h4>
            </div> -->
        </div>

        <div class="productlist">

            <div class="product" *ngFor="let m of menu">
                <div class="productimg">
                    <img src="{{m.imageUrl}}" alt="">
                </div>
                <div class="pro-detail">
                    <h3><b>{{m.foodName}}</b></h3>
                    <h4>{{m.description}}</h4>
                    <h3><b>{{m.price}}</b> ₹</h3>
                </div>
                <div class="ADD">

                    <div class="add">
                        <h3 (click)="Add_Item()">Add</h3>
                    </div>

                </div>

            </div>


            <!-- <div class="product">
                <div class="productimg">
                    <img src="../../assets/Group 25.svg" alt="">
                </div>
                <div class="pro-detail">
                    <h3><b>Sandwich</b></h3>
                    <h4>Info1</h4>
                    <h3><b>238</b> Rs</h3>
                </div>
                <div class="ADD">
                    <div class="add">
                        <a><b>Add</b></a>
                    </div>
                </div>
            </div>


            <div class="product">
                <div class="productimg">
                    <img src="../../assets/Group 25.svg" alt="">
                </div>
                <div class="pro-detail">
                    <h3><b> Hot Sandwich</b></h3>
                    <h4>Info2</h4>
                    <h3><b>238</b> Rs</h3>
                </div>
                <div class="ADD">
                    <div class="add">
                        <a><b>Add</b></a>
                    </div>
                </div>
            </div>


            <div class="product">
                <div class="productimg">
                    <img src="../../assets/Group 25.svg" alt="">
                </div>
                <div class="pro-detail">
                    <h3><b>Tea</b></h3>
                    <h4>Info3</h4>
                    <h3><b>23</b> Rs</h3>
                </div>
                <div class="ADD">
                    <div class="add">
                        <a><b>Add</b></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="productimg">
                    <img src="../../assets/Group 25.svg" alt="">
                </div>
                <div class="pro-detail">
                    <h3><b>Bread</b></h3>
                    <h4>Info4</h4>
                    <h3><b>28</b> Rs</h3>
                </div>
                <div class="ADD">
                    <div class="add">
                        <a><b>Add</b></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="productimg">
                    <img src="../../assets/Group 25.svg" alt="">
                </div>
                <div class="pro-detail">
                    <h3><b>Steak</b></h3>
                    <h4>Info</h4>
                    <h3><b>238</b> Rs</h3>
                </div>
                <div class="ADD">
                    <div class="add">
                        <a><b>Add</b></a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>