<div class="section">
    <div class="container">
        <div class="product">
            <div class="productimg">
                <img src="../../assets/Group 25.svg" alt="">
            </div>
            <div class="pro-detail">
                <h3><b>Steak</b></h3>
                <h4>Info</h4>
                <h3><b>238</b> Rs</h3>
            </div>
            <div class="qty">
                <img src="../../assets/Icon awesome-Left.svg" alt="">
                <h5>1</h5>
                <img src="../../assets/Icon awesome right.svg" alt="">
            </div>
        </div>
    </div>
</div>