.product {
    display: flex;
    /* width: 100% !important; */
    margin: 10px;
    margin-top: 10px !important;
    box-shadow: 0 2px 3px #DDDDDD, -6px -6px 6px #ffffff;
    border-radius: 10px;
}

.productimg img {
    height: 93px;
    width: 109px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pro-detail {
    text-align: left;
    padding-left: 15px;
    margin-left: -5px;
    width: 100%;
    height: 93px;
    background-color: #F5F5F5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pro-detail h4 {
    font-size: 13px;
    color: #1B2845;
    padding-left: 0px;
    margin-bottom: 0px;
}

.pro-detail h3 {
    color: #1B2845;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0px;
}

.delete {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete a {
    font-size: 9px;
    color: #F5F5F5;
}

.DELETE {
    position: relative;
    text-align: center;
    margin-left: 275px;
    margin-top: -54px;
    border: 1px solid #707070;
    height: 18px;
    width: 62px;
    border-radius: 10px;
    background-color: #1B2845;
}

.service_req h4 {
    font-size: 13px;
    color: #1B2845;
    padding-left: 8px;
}

.ingri h4 {
    font-size: 13px;
    color: #1B2845;
}

.Request p {
    font-size: 10px;
    color: #1B2845;
    padding-left: 26px;
}

.Request {
    margin-left: 30px;
    margin-top: 10px;
}

.Ingredients {
    margin-left: 30px;
    margin-top: 10px;
}

.searchbar {
    float: left;
    border: 1px solid #707070;
    height: 49px;
    width: 220px;
    border-radius: 50px;
    padding: 11px;
}

.search {
    display: -webkit-box;
    margin-left: 10px;
}

.order {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.ORDER {
    position: relative;
    text-align: center;
    border: 1px solid #707070;
    height: 59px;
    width: auto;
    border-radius: 10px;
    background-color: #1B2845;
    margin-top: 10px;
}