<div class="section">
    <div class="container">
        <div class="cartdetail">

            <div class="msg">{{msg}}</div>
            <div *ngIf="status">
                <div class="product" *ngFor="let c of cart">
                    <div class="productimg">
                        <img src="{{c.imageUrl}}" alt="">
                    </div>
                    <div class="pro-detail" *ngIf="c.showcustomization">
                        <h3>{{c.foodName}}</h3>
                        <div style="display: flex;">
                            <div *ngFor="let n of c.name | slice:0:2">
                                <h4>{{n}} &nbsp;</h4>
                            </div>
                        </div>
                        <h3> ₹ {{c.total}} </h3>
                        <!-- <h5>{{c.qty}}</h5> -->
                    </div>
                    <div class="pro-detail" *ngIf="c.showcustomization == false">
                        <h3>{{c.foodName}}</h3>
                        <h4>{{c.description}}</h4>
                        <h3> ₹ {{c.total}} </h3>
                        <!-- <h5>{{c.qty}}</h5> -->
                    </div>
                    <div class="qtycust">
                        <div class="qty">
                            <h4 (click)="Minus(c)">-</h4>
                            <h5>{{c.qty}}</h5>
                            <h4 (click)="Plus(c)">+</h4>
                        </div>
                        <div class="cust" *ngIf="c.isCustomize == true">
                            <div class="cust_name" (click)="item(c)">Customize </div>
                            <div class="cust-Icon"> <img src="../../assets/Icon feather-edit.svg" alt="setting">
                            </div>
                        </div>
                    </div>

                </div>


                <div class="final-p">
                    <h4>Total : ₹ {{totalAmt}}</h4>
                </div>

                <div class="Request">
                    <div class="service_req_note">
                        <textarea (keyup)=Place($event.target.value) rows="5" cols="43" name="notes" placeholder="Enter Your Special Request" value=""></textarea>
                    </div>
                </div>

                <div class="service_req">
                    <h4>Customer Name</h4><br>
                    <div class="search">
                        <input type="text" (keyup)=name($event.target.value) name="name" placeholder="Enter Your Name" value="">
                    </div>

                    <h4>Mobile No.*</h4><br>
                    <div class="search">
                        <input [ngClass]="{'red': showContent === false, 'green': showcontent === false }" type="number" name="mobile" (keyup)=mobile($event.target.value) placeholder="Enter mobile number" oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            minlength="10" maxlength="10" value="" required>
                        <p *ngIf="showContent == false">Please Enter your Mobile</p>
                        <p *ngIf="showcontent == false">Please Enter valid Mobile</p>
                    </div>

                </div>
            </div>

            <app-order></app-order>

            <div *ngIf="status">
                <div class="ORDER ">
                    <button class="btn btn-lg btn-outline-primary " (click)="ConformOrder() ">ORDER NOW</button>
                </div>
            </div>

        </div>
    </div>