.product {
    display: flex;
    /* width: 100% !important; */
    margin-top: 10px !important;
    box-shadow: 0 2px 3px #DDDDDD, -6px -6px 6px #ffffff;
    border-radius: 10px;
    width: 100%;
}

.productimg img {
    height: 93px;
    width: 109px;
    border-radius: 10px;
}

.pro-detail {
    text-align: left;
    padding-left: 15px;
    width: 100%;
    height: 93px;
    background-color: #F5F5F5;
}

.pro-detail h4 {
    font-size: 13px;
    color: #1B2845;
    padding-left: 0px;
    margin-bottom: 0px;
}

.pro-detail h3 {
    color: #1B2845;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0px;
}

.delete {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete a {
    font-size: 9px;
    color: #F5F5F5;
}

.DELETE {
    position: relative;
    text-align: center;
    margin-left: 275px;
    margin-top: -54px;
    border: 1px solid #707070;
    height: 18px;
    width: 62px;
    border-radius: 10px;
    background-color: #1B2845;
}

.service_req h4 {
    font-size: 17px;
    color: #1B2845;
    position: absolute;
    font-weight: 500;
    padding-left: 15px;
    margin-bottom: 0;
}

.service_req_note textarea {
    background-color: #f5f5f5;
    border: none;
    width: 100%;
    box-shadow: 0 1px 3px #DDDDDD, 6px 7px 4px #DDDDDD, 1px -2px 1px #ffffff, -7px -6px 7px #ffffff;
    padding-top: 15px !important;
    margin-bottom: 15px;
    padding-left: 20px;
    border: 1px solid #FFFFFF;
    outline: none;
    border-radius: 10px;
}

.ingri h4 {
    font-size: 13px;
    color: #1B2845;
}

.Request p {
    font-size: 10px;
    color: #1B2845;
    padding-left: 26px;
}

.Request {
    margin-top: 10px;
}

.Ingredients {
    margin-left: 30px;
    margin-top: 10px;
}

.searchbar {
    float: left;
    border: 1px solid #707070;
    height: 49px;
    width: 220px;
    border-radius: 50px;
    padding: 11px;
}

.ORDER button {
    position: fixed;
    text-align: center;
    bottom: 0;
    border: none;
    height: 59px;
    margin-bottom: 10px;
    width: 93%;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: #1B2845;
}

.qty {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 10px;
}

.qty h4 {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    padding: 4px;
}

.qty h5 {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    padding: 4px;
}

.tableinfo {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    color: #1B2845;
}

.msg {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #1B2845;
}

.cust {
    display: flex;
    padding: 5px;
}

.cust_name {
    color: #1B2845;
    font-size: 10px;
    padding-right: 3px;
}

.qtycust {
    display: grid;
    width: 50%;
}

.final-p h4 {
    margin-top: 13px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 15px;
}

.cartdetail {
    margin: 25% auto;
}

.search input {
    height: auto;
    font-size: 13px;
    width: 100%;
    padding: 5px;
    border: 1px solid #FFFFFF;
    padding-left: 17px;
    border-radius: 10px;
    background: #f5f5f5;
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px #DDDDDD, 6px 7px 4px #DDDDDD, 1px 2px 1px #ffffff, -5px -5px 4px #ffffff;
    outline: none;
}