<div class="section">
    <div class="container">

        <div class="tableinfo"> Table No. - {{tableNo}}</div>
        <div class="msg">{{msg}}</div>
        <div class="product" *ngFor="let c of cart">
            <div class="productimg">
                <img src="{{c.imageUrl}}" alt="">
            </div>
            <div class="pro-detail">
                <h3>{{c.foodName}}</h3>
                <h4>{{c.description}}</h4>
                <h3> ₹ {{c.qty*c.price}} </h3>
                <!-- <h5>{{c.qty}}</h5> -->
            </div>
            <div class="qtycust">
                <div class="qty">
                    <h4 (click)="Minus(c)">-</h4>
                    <h5>{{c.qty}}</h5>
                    <h4 (click)="Plus(c)">+</h4>
                </div>
                <div class="cust">
                    <div class="cust_name" (click)="item(c)">Customize </div>
                    <div class="cust-Icon"> <img src="../../assets/Icon feather-edit.svg" alt="setting">
                    </div>
                </div>


            </div>

        </div>


        <div class="final-p">
            <h4>Total : ₹ {{totalAmt}}</h4>
        </div>

        <div class="row">
            <div class="Request">
                <div class="service_req">
                    <h4>
                        Service Request
                    </h4>
                </div>
                <div class="service_req_note">
                    <form>
                        <textarea (keyup)=Place($event.target.value) rows="5" cols="45" name="notes" placeholder="Enter your Request" value=""></textarea>

                    </form>

                </div>
            </div>

            <div>
                <button (click)="Clear() ">Clear All</button>
            </div>
            <div class="ORDER">
                <div class="order">
                    <span routerLink="order" (click)="PlaceOrder() "> Order</span>
                </div>

            </div>

        </div>


        <!-- <div class="qty">
            <button onclick="decrement('value')">-</button>
            <input id=demoInput type=number min=1 max=100 value="1" />
            <button onclick="increment('value')">+</button>
        </div>
        <script>
            function increment() {
                document.getElementById('demoInput').stepUp();
            }

            function decrement() {
                document.getElementById('demoInput').stepDown();
            }
        </script> -->

    </div>